etc/ws/metamac-statistical-operations-external-v1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="metamac-statistical-operations-external-v1.0.wsdl"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:service_v1_0="http://www.siemac.org/metamac/statistical/operations/external/ws/v1.0/service"
	xmlns:exception_v1_0="http://www.siemac.org/metamac/statistical/operations/external/ws/v1.0/exception"
	xmlns:tns="http://www.siemac.org/metamac/statistical/operations/external/ws/v1.0"
	targetNamespace="http://www.siemac.org/metamac/statistical/operations/external/ws/v1.0">

	<wsdl:types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://www.siemac.org/metamac/statistical/operations/external/ws/v1.0/service">
			<xsd:include schemaLocation="service/metamac-statistical-operations-external-service-v1.0.xsd" />
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://www.siemac.org/metamac/statistical/operations/external/ws/v1.0/exception">
			<xsd:include schemaLocation="exception/metamac-statistical-operations-external-exception-v1.0.xsd" />
		</xsd:schema>
	</wsdl:types>

	<!-- Operations -->
	<wsdl:message name="retrieveOperationRequest">
		<wsdl:part name="body" element="service_v1_0:retrieveOperation" />
	</wsdl:message>
	<wsdl:message name="retrieveOperationResponse">
		<wsdl:part name="body" element="service_v1_0:retrieveOperationResponse" />
	</wsdl:message>
	<wsdl:message name="findOperationsRequest">
		<wsdl:part name="body" element="service_v1_0:findOperations" />
	</wsdl:message>
	<wsdl:message name="findOperationsResponse">
		<wsdl:part name="body" element="service_v1_0:findOperationsResponse" />
	</wsdl:message>

	<!-- Exceptions -->
	<wsdl:message name="metamacExceptionFault">
		<wsdl:part name="body" element="exception_v1_0:metamacException" />
	</wsdl:message>

	<wsdl:portType name="MetamacStatisticalOperationsExternalInterface_v1.0">
		<!-- Operations -->
		<wsdl:operation name="retrieveOperation">
			<wsdl:input name="retrieveOperationInput" message="tns:retrieveOperationRequest" />
			<wsdl:output name="retrieveOperationOutput" message="tns:retrieveOperationResponse" />
			<wsdl:fault name="retrieveOperationFault" message="tns:metamacExceptionFault" />
		</wsdl:operation>
		<wsdl:operation name="findOperations">
			<wsdl:input name="findOperationsInput" message="tns:findOperationsRequest" />
			<wsdl:output name="findOperationsOutput" message="tns:findOperationsResponse" />
			<wsdl:fault name="findOperationsFault" message="tns:metamacExceptionFault" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="MetamacStatisticalOperationsExternalBindingSOAP_v1.0"
		type="tns:MetamacStatisticalOperationsExternalInterface_v1.0">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="findOperations">

			<soap:operation
				soapAction="http://www.siemac.org/metamac/statistical/operations/external/ws/v1.0/findOperations" />
			<wsdl:input name="findOperationsInput">

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="findOperationsOutput">

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="findOperationsFault">

				<soap:fault use="literal" name="findOperationsFault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="retrieveOperation">
			<soap:operation
				soapAction="http://www.siemac.org/metamac/statistical/operations/external/ws/v1.0/retrieveOperation" />
			<wsdl:input name="retrieveOperationInput">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="retrieveOperationOutput">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="retrieveOperationFault">
				<soap:fault use="literal" name="retrieveOperationFault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="MetamacStatisticalOperationsExternal_v1.0">
		<wsdl:port binding="tns:MetamacStatisticalOperationsExternalBindingSOAP_v1.0"
			name="MetamacStatisticalOperationsExternalSOAP_v1.0">
			<soap:address location="http://WEB_SERVICE_LOCATION" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
