etc/rest/external/metamac-statistical-operations-rest-external-domain-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" 
    targetNamespace="http://www.siemac.org/metamac/rest/statistical-operations/v1.0/domain" 
    xmlns:tns="http://www.siemac.org/metamac/rest/statistical-operations/v1.0/domain"
    xmlns:common="http://www.siemac.org/metamac/rest/common/v1.0/domain">

    <xs:import namespace="http://www.siemac.org/metamac/rest/common/v1.0/domain" schemaLocation="metamac-rest-api:metamac-rest-common-domain-v1.0.xsd" />

    <xs:complexType name="Operation">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="urn" type="xs:string" />
            <xs:element name="selfLink" type="common:ResourceLink" />
            <xs:element name="parentLink" type="common:ResourceLink" />
            <xs:element name="childLinks" type="common:ChildLinks" minOccurs="1" />
            <xs:element name="title" type="common:InternationalString" />
            <xs:element name="acronym" type="common:InternationalString" minOccurs="0" />
            <xs:element name="subjectArea" type="common:Resource" />
            <xs:element name="secondarySubjectAreas" type="tns:SecondarySubjectAreas" minOccurs="0" />
            <xs:element name="objective" type="common:InternationalString" />
            <xs:element name="description" type="common:InternationalString" minOccurs="0" />
            <xs:element name="surveyType" type="common:Item" />
            <xs:element name="officialityType" type="common:Item" />
            <xs:element name="indicatorSystem" type="xs:boolean" minOccurs="0" />
            <xs:element name="producers" type="tns:Producers" minOccurs="1"/>
            <xs:element name="regionalResponsibles" type="tns:RegionalResponsibles" minOccurs="1" />
            <xs:element name="regionalContributors" type="tns:RegionalContributors" minOccurs="0" />
            <xs:element name="currentlyActive" type="xs:boolean" minOccurs="0" />
            <xs:element name="status" type="tns:Status" />
            <xs:element name="publishers" type="tns:Publishers" minOccurs="1" />
            <xs:element name="relPolUsAc" type="common:InternationalString" minOccurs="0" />
            <xs:element name="releaseCalendar" type="xs:boolean" minOccurs="0" />
            <xs:element name="releaseCalendarAccess" type="xs:string" minOccurs="0" />
            <xs:element name="updateFrequencies" type="tns:UpdateFrequencies" minOccurs="0" />
            <xs:element name="currentInstance" type="common:Resource" minOccurs="0" />
            <xs:element name="inventoryDate" type="xs:dateTime" minOccurs="0" />
            <xs:element name="revPolicy" type="common:InternationalString" minOccurs="0" />
            <xs:element name="revPractice" type="common:InternationalString" minOccurs="0" />
            <xs:element name="contact" type="common:Resource" minOccurs="1" />
            <xs:element name="legalActs" type="common:InternationalString" minOccurs="0" />
            <xs:element name="dataSharing" type="common:InternationalString" minOccurs="0" />
            <xs:element name="confidentialityPolicy" type="common:InternationalString" minOccurs="0" />
            <xs:element name="confidentialityDataTreatment" type="common:InternationalString" minOccurs="0" />
            <xs:element name="comment" type="common:InternationalString" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="kind" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="Family">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="urn" type="xs:string" />
            <xs:element name="selfLink" type="common:ResourceLink" />
            <xs:element name="parentLink" type="common:ResourceLink" />
            <xs:element name="childLinks" type="common:ChildLinks" minOccurs="1" />
            <xs:element name="title" type="common:InternationalString" />
            <xs:element name="acronym" type="common:InternationalString" minOccurs="0" />
            <xs:element name="description" type="common:InternationalString" minOccurs="0" />
            <xs:element name="inventoryDate" type="xs:dateTime" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="kind" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="Instance">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="urn" type="xs:string" />
            <xs:element name="selfLink" type="common:ResourceLink" />
            <xs:element name="parentLink" type="common:ResourceLink" />
            <xs:element name="childLinks" type="common:ChildLinks" minOccurs="1" />
            <xs:element name="title" type="common:InternationalString" />
            <xs:element name="acronym" type="common:InternationalString" minOccurs="0" />
            <xs:element name="survey" type="common:Resource" />
            <xs:element name="successor" type="common:Resource" minOccurs="0" />
            <xs:element name="predecessor" type="common:Resource" minOccurs="0" />
            <xs:element name="dataDescription" type="common:InternationalString" minOccurs="0" />
            <xs:element name="statisticalPopulation" type="common:InternationalString" minOccurs="0" />
            <xs:element name="statisticalUnits" type="tns:StatisticalUnits" minOccurs="0" />
            <xs:element name="geographicGranularity" type="common:Resource" minOccurs="0" />
            <xs:element name="geographicComparability" type="common:InternationalString" minOccurs="0" />
            <xs:element name="temporalGranularity" type="common:Resource" minOccurs="0" />
            <xs:element name="temporalComparability" type="common:InternationalString" minOccurs="0" />
            <xs:element name="basePeriod" type="xs:string" minOccurs="0" />
            <xs:element name="unitMeasures" type="tns:UnitMeasures" minOccurs="0" />
            <xs:element name="statConcDefsDescription" type="common:InternationalString" minOccurs="0" />
            <xs:element name="statConcDefs" type="tns:StatConcDefs" minOccurs="0" />
            <xs:element name="classSystemsDescription" type="common:InternationalString" minOccurs="0" />
            <xs:element name="classSystems" type="tns:ClassSystems" minOccurs="0" />
            <xs:element name="docMethod" type="common:InternationalString" minOccurs="0" />
            <xs:element name="surveySource" type="common:Item" minOccurs="0" />
            <xs:element name="collMethod" type="common:Item" minOccurs="0" />
            <xs:element name="informationSuppliers" type="tns:InformationSuppliers" minOccurs="0" />
            <xs:element name="freqColls" type="tns:FreqColls" minOccurs="0" />
            <xs:element name="dataValidation" type="common:InternationalString" minOccurs="0" />
            <xs:element name="dataCompilation" type="common:InternationalString" minOccurs="0" />
            <xs:element name="adjustment" type="common:InternationalString" minOccurs="0" />
            <xs:element name="inventoryDate" type="xs:dateTime" minOccurs="0" />
            <xs:element name="qualityDoc" type="common:InternationalString" minOccurs="0" />
            <xs:element name="qualityAssure" type="common:InternationalString" minOccurs="0" />
            <xs:element name="qualityAssmnt" type="common:InternationalString" minOccurs="0" />
            <xs:element name="userNeeds" type="common:InternationalString" minOccurs="0" />
            <xs:element name="userSat" type="common:InternationalString" minOccurs="0" />
            <xs:element name="completeness" type="common:InternationalString" minOccurs="0" />
            <xs:element name="timeliness" type="common:InternationalString" minOccurs="0" />
            <xs:element name="punctuality" type="common:InternationalString" minOccurs="0" />
            <xs:element name="accuracyOverall" type="common:InternationalString" minOccurs="0" />
            <xs:element name="samplingErr" type="common:InternationalString" minOccurs="0" />
            <xs:element name="nonsamplingErr" type="common:InternationalString" minOccurs="0" />
            <xs:element name="coherXDom" type="common:InternationalString" minOccurs="0" />
            <xs:element name="coherInternal" type="common:InternationalString" minOccurs="0" />
            <xs:element name="comment" type="common:InternationalString" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="kind" type="xs:string" use="required" />
    </xs:complexType>

    <!-- Lists -->
    <xs:complexType name="Operations">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="operation" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Families">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="family" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Instances">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="instance" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="StatisticalUnits">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="statisticalUnit" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="UnitMeasures">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="unitMeasure" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>    
    
    <xs:complexType name="StatConcDefs">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="statConcDef" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
        
    </xs:complexType>    
    
    <xs:complexType name="ClassSystems">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="classSystem" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>     
            
    <xs:complexType name="InformationSuppliers">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="informationSupplier" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>     
    
    <xs:complexType name="FreqColls">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="freqColl" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
        
    </xs:complexType>                 
    
    <xs:complexType name="SecondarySubjectAreas">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="secondarySubjectArea" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
        
    </xs:complexType>
    
    <xs:complexType name="Producers">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="producer" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
        
    </xs:complexType>
    
    <xs:complexType name="RegionalResponsibles">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="regionalResponsible" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
        
    </xs:complexType>
    
    <xs:complexType name="RegionalContributors">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="regionalContributor" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
        
    </xs:complexType>         

    <xs:complexType name="Publishers">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="publisher" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
        
    </xs:complexType>
    
    <xs:complexType name="UpdateFrequencies">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="updateFrequency" type="common:Resource" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>         

    <xs:complexType name="SurveyTypes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="surveyType" type="common:Item" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="OfficialityTypes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="officialityType" type="common:Item" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="InstanceTypes">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="instanceType" type="common:Item" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SurveySources">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="surveySource" type="common:Item" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CollMethods">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="collMethod" type="common:Item" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Costs">
        <xs:complexContent>
            <xs:extension base="common:ListBase">
                <xs:sequence>
                    <xs:element name="cost" type="common:Item" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Enums -->
    <xs:simpleType name="Status">
        <xs:restriction base="xs:token">
            <xs:enumeration value="PLANNING" />
            <xs:enumeration value="DESIGN" />
            <xs:enumeration value="PRODUCTION" />
            <xs:enumeration value="OUT_OF_PRINT" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Criterias -->
    <xs:simpleType name="OperationCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="TITLE" />
            <xs:enumeration value="ACRONYM" />
            <xs:enumeration value="SUBJECT_AREA_URN" />
            <xs:enumeration value="SECONDARY_SUBJECT_AREA_URN" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="SURVEY_TYPE_ID" />
            <xs:enumeration value="OFFICIALITY_TYPE_ID" />
            <xs:enumeration value="IS_INDICATORS_SYSTEM" />
            <xs:enumeration value="PRODUCER_URN" />
            <xs:enumeration value="CURRENTLY_ACTIVE" />
            <xs:enumeration value="STATUS" />
            <xs:enumeration value="PUBLISHER_URN" />
            <xs:enumeration value="INVENTORY_DATE" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OperationCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="InstanceCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="TITLE" />
            <xs:enumeration value="ACRONYM" />
            <xs:enumeration value="DATA_DESCRIPTION" />
            <xs:enumeration value="GEOGRAPHIC_GRANULARITY_URN" />
            <xs:enumeration value="TEMPORAL_GRANULARITY_URN" />
            <xs:enumeration value="INVENTORY_DATE" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="InstanceCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FamilyCriteriaPropertyRestriction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
            <xs:enumeration value="URN" />
            <xs:enumeration value="TITLE" />
            <xs:enumeration value="ACRONYM" />
            <xs:enumeration value="DESCRIPTION" />
            <xs:enumeration value="INVENTORY_DATE" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FamilyCriteriaPropertyOrder">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ID" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Elements -->
    <xs:element name="operation" type="tns:Operation" />
    <xs:element name="family" type="tns:Family" />
    <xs:element name="instance" type="tns:Instance" />
    <xs:element name="operations" type="tns:Operations" />
    <xs:element name="families" type="tns:Families" />
    <xs:element name="instances" type="tns:Instances" />
    <xs:element name="surveyTypes" type="tns:SurveyTypes" />
    <xs:element name="officialityTypes" type="tns:OfficialityTypes" />
    <xs:element name="instanceTypes" type="tns:InstanceTypes" />
    <xs:element name="surveySources" type="tns:SurveySources" />
    <xs:element name="collMethods" type="tns:CollMethods" />
    <xs:element name="costs" type="tns:Costs" />
</xs:schema>