etc/wadl/metamac-statistical-operations-rest-internal-domain-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:tns="http://www.siemac.org/metamac/statistical/operations/rest/internal/v1.0/domain"
	targetNamespace="http://www.siemac.org/metamac/statistical/operations/rest/internal/v1.0/domain"
    jaxb:version="2.1">

    <xsd:complexType name="Operation">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Operations">
        <xsd:sequence>
            <xsd:element name="size" type="xsd:integer" />
            <xsd:element name="items" type="tns:Operation" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="operation" type="tns:Operation" />
    <xsd:element name="operations" type="tns:Operations" />
</xsd:schema>