etc/wadl/metamac-statistical-operations-rest-internal-v1.0.wadl

<?xml version="1.0" encoding="UTF-8"?>
<wadl:application
			 xmlns:wadl="http://wadl.dev.java.net/2009/02"
			 xmlns:domain="http://www.siemac.org/metamac/statistical/operations/rest/internal/v1.0/domain"
			 xmlns:common="http://www.siemac.org/metamac/rest/common/v1.0/domain">
 	
	<wadl:grammars>
 		<wadl:include href="metamac-statistical-operations-rest-internal-domain-v1.0.xsd" />
 		<wadl:include href="metamac-rest-api:metamac-rest-common-domain-v1.0.xsd" />
 	</wadl:grammars>
 	
	<wadl:resources base="URL_RESOURCES_BASE">
		<wadl:resource id="statisticalOperationsRestFacadeV10">
			<wadl:resource path="operations">
				<wadl:method name="GET" id="findOperations">
					<wadl:doc>
           				<![CDATA[Returns paged list operations, according to criteria]]>
         			</wadl:doc>
					<wadl:request>
						<wadl:param name="limit" style="query" required="false"/>
						<wadl:param name="offset" style="query" required="false"/>
					</wadl:request>
	                <wadl:response status="200">
						<wadl:representation mediaType="application/xml" element="common:relatedResourcesPagedResult"/> 
                        <wadl:representation mediaType="application/json" element="common:relatedResourcesPagedResult"/> 
	                </wadl:response>
					<wadl:response status="404 500">
						<wadl:representation mediaType="application/xml" element="common:error"/> 
                        <wadl:representation mediaType="application/json" element="common:error"/> 
	                </wadl:response>
				</wadl:method>
			</wadl:resource>				
			<wadl:resource path="operations/{code}">
				<wadl:method name="GET" id="retrieveOperationByCode">
					<wadl:request>
						<wadl:param name="code" style="template"/>
					</wadl:request>
	                <wadl:response status="200">
						<wadl:representation mediaType="application/xml" element="domain:operation"/> 
                        <wadl:representation mediaType="application/json" element="domain:operation"/> 
	                </wadl:response>
					<wadl:response status="404 500">
						<wadl:representation mediaType="application/xml" element="common:error"/> 
                        <wadl:representation mediaType="application/json" element="common:error"/> 
	                </wadl:response>
				</wadl:method>
			</wadl:resource>
			<wadl:resource path="operations/{code}/families">
				<wadl:method name="GET" id="retrieveFamiliesByOperation">
					<wadl:request>
						<wadl:param name="code" style="template"/>
					</wadl:request>
	                <wadl:response status="200">
						<wadl:representation mediaType="application/xml" element="common:relatedResourcesNoPagedResult"/> 
                        <wadl:representation mediaType="application/json" element="common:relatedResourcesNoPagedResult"/> 
	                </wadl:response>
					<wadl:response status="404 500">
						<wadl:representation mediaType="application/xml" element="common:error"/> 
                        <wadl:representation mediaType="application/json" element="common:error"/> 
	                </wadl:response>
				</wadl:method>
			</wadl:resource>
			<wadl:resource path="operations/{operationCode}/instances">
				<wadl:method name="GET" id="findInstances">
					<wadl:request>
						<wadl:param name="operationCode" style="template"/>
						<wadl:param name="limit" style="query" required="false"/>
						<wadl:param name="offset" style="query" required="false"/>
					</wadl:request>
	                <wadl:response status="200">
						<wadl:representation mediaType="application/xml" element="common:relatedResourcesPagedResult"/> 
                        <wadl:representation mediaType="application/json" element="common:relatedResourcesPagedResult"/> 
	                </wadl:response>
					<wadl:response status="404 500">
						<wadl:representation mediaType="application/xml" element="common:error"/> 
                        <wadl:representation mediaType="application/json" element="common:error"/> 
	                </wadl:response>
				</wadl:method>
			</wadl:resource>				
			<wadl:resource path="operations/{operationCode}/instances/{code}">
				<wadl:method name="GET" id="retrieveInstanceByCode">
					<wadl:request>
						<wadl:param name="operationCode" style="template"/>
						<wadl:param name="code" style="template"/>
					</wadl:request>
	                <wadl:response status="200">
						<wadl:representation mediaType="application/xml" element="domain:instance"/> 
                        <wadl:representation mediaType="application/json" element="domain:instance"/> 
	                </wadl:response>
					<wadl:response status="404 500">
						<wadl:representation mediaType="application/xml" element="common:error"/> 
                        <wadl:representation mediaType="application/json" element="common:error"/> 
	                </wadl:response>
				</wadl:method>
			</wadl:resource>
			<wadl:resource path="families">
				<wadl:method name="GET" id="findFamilies">
					<wadl:request>
						<wadl:param name="limit" style="query" required="false"/>
						<wadl:param name="offset" style="query" required="false"/>
					</wadl:request>
	                <wadl:response status="200">
						<wadl:representation mediaType="application/xml" element="common:relatedResourcesPagedResult"/> 
                        <wadl:representation mediaType="application/json" element="common:relatedResourcesPagedResult"/> 
	                </wadl:response>
					<wadl:response status="404 500">
						<wadl:representation mediaType="application/xml" element="common:error"/> 
                        <wadl:representation mediaType="application/json" element="common:error"/> 
	                </wadl:response>
				</wadl:method>
			</wadl:resource>				
			<wadl:resource path="families/{code}">
				<wadl:method name="GET" id="retrieveFamilyByCode">
					<wadl:request>
						<wadl:param name="code" style="template"/>
					</wadl:request>
	                <wadl:response status="200">
						<wadl:representation mediaType="application/xml" element="domain:family"/> 
                        <wadl:representation mediaType="application/json" element="domain:family"/> 
	                </wadl:response>
					<wadl:response status="404 500">
						<wadl:representation mediaType="application/xml" element="common:error"/> 
                        <wadl:representation mediaType="application/json" element="common:error"/> 
	                </wadl:response>
				</wadl:method>
			</wadl:resource>
			<wadl:resource path="families/{code}/operations">
				<wadl:method name="GET" id="retrieveOperationsByFamily">
					<wadl:request>
						<wadl:param name="code" style="template"/>
						<wadl:param name="limit" style="query" required="false"/>
						<wadl:param name="offset" style="query" required="false"/>
					</wadl:request>
	                <wadl:response status="200">
						<wadl:representation mediaType="application/xml" element="common:relatedResourcesPagedResult"/> 
                        <wadl:representation mediaType="application/json" element="common:relatedResourcesPagedResult"/> 
	                </wadl:response>
					<wadl:response status="404 500">
						<wadl:representation mediaType="application/xml" element="common:error"/> 
                        <wadl:representation mediaType="application/json" element="common:error"/> 
	                </wadl:response>
				</wadl:method>
			</wadl:resource>				
		</wadl:resource>
	</wadl:resources>  
</wadl:application>