etc/wadl/metamac-statistical-operations-rest-internal-domain-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
    xmlns:tns="http://www.siemac.org/metamac/statistical/operations/rest/internal/v1.0/domain"
    targetNamespace="http://www.siemac.org/metamac/statistical/operations/rest/internal/v1.0/domain"
    jaxb:version="2.1">

    <xsd:complexType name="Operation">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string" />
<!-- URI self link -->
            <xsd:element name="title" type="tns:InternationalString" />
            <xsd:element name="acronym" type="tns:InternationalString" />
<!-- FAMILY_CODE idem indic.    code, kind (GG), selfLink, title -->
<!-- FAMILY_TITLE idem indic -->

<!-- SUBJECT_AREA ExternalItem code (codeId), kind (typeExternal), selfLink (uriInt), title pendiente de añadir en ExternalItem -->

<!-- SECUNDARY_SUBJECT_AREAS idem anterior -->

            <xsd:element name="objective" type="tns:InternationalString" />
            <xsd:element name="description" type="tns:InternationalString" />

<!-- INSTANCE idem indic. kind: operation#instance (preguntar GG) -->

            <xsd:element name="surveyType" type="xsd:string" />
            <xsd:element name="officialityType" type="xsd:string" />
            <xsd:element name="indicatorSystem" type="xsd:boolean" minOccurs="0" />
            
<!-- PRODUCER Idem subject_area -->
<!-- REGIONAL_RESPONSIBLE anter-->
<!-- REGIONAL_CONTRIBUTOR ateior -->
            <xsd:element name="internalInventoryDate" type="xsd:dateTime" />
            <xsd:element name="currentlyActive" type="xsd:boolean" minOccurs="0" />
            <xsd:element name="status" type="xsd:string" />
            <xsd:element name="procStatus" type="xsd:string" />
<!-- PUBLISHER idem atner -->
            <xsd:element name="relPolUsAc" type="tns:InternationalString" />
            <xsd:element name="relPolUsAcUrl" type="xsd:string" />
            <xsd:element name="releaseCalendar" type="xsd:boolean" minOccurs="0" />
            <xsd:element name="releaseCalendarAccess" type="xsd:string" />
<!-- UPDATE_FREQUENCY idem anterior-->


<!-- CURRENT_INTERNAL_INSTANCE idem instance -->
<!-- CURRENT_INSTANCE idem instance -->
            <xsd:element name="inventoryDate" type="xsd:dateTime" />
            <xsd:element name="revPolicy" type="tns:InternationalString" />
            <xsd:element name="revPolicyUrl" type="xsd:string" />
            <xsd:element name="revPractice" type="tns:InternationalString" />
            <xsd:element name="revPracticeUrl" type="xsd:string" />
<!-- los 5 siguientes se deberán traer de common-metadata. Pendiente. invocación a su api? -->            
<!-- CONTACT -->
<!-- LEGAL_ACTS -->
<!-- DATA_SHARING -->
<!-- CONFIDENTIALITY_POLICY -->
<!-- CONFIDENTIALITY_DATA_TREATMENT -->

            <xsd:element name="comment" type="tns:InternationalString" />
            <xsd:element name="commentUrl" type="xsd:string" />
            <xsd:element name="notes" type="tns:InternationalString" />
            <xsd:element name="notesUrl" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Operations">
        <xsd:sequence>
            <xsd:element name="size" type="xsd:integer" />
            <xsd:element name="items" type="tns:Operation" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="InternationalString">
        <xsd:sequence>
            <xsd:element name="texts" type="tns:LocalisedString" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="LocalisedString">
        <xsd:sequence>
            <xsd:element name="locale" type="xsd:string" />
            <xsd:element name="label" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <!-- Elements -->
    <xsd:element name="operation" type="tns:Operation" />
    <xsd:element name="operations" type="tns:Operations" />
</xsd:schema>