etc/wadl/metamac-statistical-operations-rest-internal-v1.0.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" 
			 xmlns:tns="http://www.siemac.org/metamac/statistical/operations/rest/internal/v1.0"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns:domain="http://www.siemac.org/metamac/statistical/operations/rest/internal/v1.0/domain"
			 xmlns:common="http://www.siemac.org/metamac/rest/common/v1.0/domain"
			 xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd">
 	
	<grammars>
 		<include href="metamac-statistical-operations-rest-internal-domain-v1.0.xsd" />
 		<include href="metamac-rest-api:metamac-rest-common-domain-v1.0.xsd" />
 	</grammars>
 	
	<resources base="URL_RESOURCES_BASE">
		<resource id="statisticalOperationsRestFacadeV10">
			<resource path="operations">
				<method name="GET" id="findOperations">
					<request>
						<param name="limit" style="query" required="false"/>
						<param name="offset" style="query" required="false"/>
					</request>
	                <response status="200">
						<representation mediaType="application/xml" element="common:relatedResourcesPagedResult"/> 
                        <representation mediaType="application/json" element="common:relatedResourcesPagedResult"/> 
	                </response>
					<response status="404 500">
						<representation mediaType="application/xml" element="common:error"/> 
                        <representation mediaType="application/json" element="common:error"/> 
	                </response>
				</method>
			</resource>				
			<resource path="operations/{code}">
				<method name="GET" id="retrieveOperationByCode">
					<request>
						<param name="code" style="template"/>
					</request>
	                <response status="200">
						<representation mediaType="application/xml" element="domain:operation"/> 
                        <representation mediaType="application/json" element="domain:operation"/> 
	                </response>
					<response status="404 500">
						<representation mediaType="application/xml" element="common:error"/> 
                        <representation mediaType="application/json" element="common:error"/> 
	                </response>
				</method>
			</resource>
			<resource path="operations/{code}/families">
				<method name="GET" id="retrieveFamiliesByOperation">
					<request>
						<param name="code" style="template"/>
					</request>
	                <response status="200">
						<representation mediaType="application/xml" element="common:relatedResourcesNoPagedResult"/> 
                        <representation mediaType="application/json" element="common:relatedResourcesNoPagedResult"/> 
	                </response>
					<response status="404 500">
						<representation mediaType="application/xml" element="common:error"/> 
                        <representation mediaType="application/json" element="common:error"/> 
	                </response>
				</method>
			</resource>
			<resource path="operations/{operationCode}/instances">
				<method name="GET" id="findInstances">
					<request>
						<param name="operationCode" style="template"/>
						<param name="limit" style="query" required="false"/>
						<param name="offset" style="query" required="false"/>
					</request>
	                <response status="200">
						<representation mediaType="application/xml" element="common:relatedResourcesPagedResult"/> 
                        <representation mediaType="application/json" element="common:relatedResourcesPagedResult"/> 
	                </response>
					<response status="404 500">
						<representation mediaType="application/xml" element="common:error"/> 
                        <representation mediaType="application/json" element="common:error"/> 
	                </response>
				</method>
			</resource>				
			<resource path="operations/{operationCode}/instances/{code}">
				<method name="GET" id="retrieveInstanceByCode">
					<request>
						<param name="operationCode" style="template"/>
						<param name="code" style="template"/>
					</request>
	                <response status="200">
						<representation mediaType="application/xml" element="domain:instance"/> 
                        <representation mediaType="application/json" element="domain:instance"/> 
	                </response>
					<response status="404 500">
						<representation mediaType="application/xml" element="common:error"/> 
                        <representation mediaType="application/json" element="common:error"/> 
	                </response>
				</method>
			</resource>
			<resource path="families">
				<method name="GET" id="findFamilies">
					<request>
						<param name="limit" style="query" required="false"/>
						<param name="offset" style="query" required="false"/>
					</request>
	                <response status="200">
						<representation mediaType="application/xml" element="common:relatedResourcesPagedResult"/> 
                        <representation mediaType="application/json" element="common:relatedResourcesPagedResult"/> 
	                </response>
					<response status="404 500">
						<representation mediaType="application/xml" element="common:error"/> 
                        <representation mediaType="application/json" element="common:error"/> 
	                </response>
				</method>
			</resource>				
			<resource path="families/{code}">
				<method name="GET" id="retrieveFamilyByCode">
					<request>
						<param name="code" style="template"/>
					</request>
	                <response status="200">
						<representation mediaType="application/xml" element="domain:family"/> 
                        <representation mediaType="application/json" element="domain:family"/> 
	                </response>
					<response status="404 500">
						<representation mediaType="application/xml" element="common:error"/> 
                        <representation mediaType="application/json" element="common:error"/> 
	                </response>
				</method>
			</resource>
			<resource path="families/{code}/operations">
				<method name="GET" id="retrieveOperationsByFamily">
					<request>
						<param name="code" style="template"/>
						<param name="limit" style="query" required="false"/>
						<param name="offset" style="query" required="false"/>
					</request>
	                <response status="200">
						<representation mediaType="application/xml" element="common:relatedResourcesPagedResult"/> 
                        <representation mediaType="application/json" element="common:relatedResourcesPagedResult"/> 
	                </response>
					<response status="404 500">
						<representation mediaType="application/xml" element="common:error"/> 
                        <representation mediaType="application/json" element="common:error"/> 
	                </response>
				</method>
			</resource>				
		</resource>
	</resources>  
</application>