etc/wadl/metamac-statistical-operations-rest-internal-v1.0.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" 
			 xmlns:tns="http://www.siemac.org/metamac/statistical/operations/rest/internal/v1.0"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns:domain="http://www.siemac.org/metamac/statistical/operations/rest/internal/v1.0/domain"
			 xmlns:common="http://www.siemac.org/metamac/rest/common/v1.0/domain"
			 xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd">
 	
	<grammars>
 		<include href="metamac-statistical-operations-rest-internal-domain-v1.0.xsd" />
 		<include href="metamac-rest-common-domain-v1.0.xsd" />
 	</grammars>
 	
	<resources base="URL_RESOURCES_BASE">
		<resource id="statisticalOperationsRestFacadeV10" path="/operations">
			<resource path="/">
				<method name="GET" id="findOperations">
	                <request>
	                </request>
	                <response status="200">
	                    <representation mediaType="*/*" element="domain:operations"/>
	                </response>
				</method>
			</resource>
			<resource path="/{code}">
				<method name="GET" id="retrieveOperationByCode">
					<request>
						<param name="code" style="template"/>
					</request>
	                <response status="200">
	                    <representation mediaType="*/*" />
	                </response>
	                 <response status="404 500">
	                    <representation mediaType="*/*" element="common:error"/>
	                </response>
				</method>
			</resource>
		</resource>
	</resources>  
</application>